<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="height: max-content; margin: 0; font-family: Arial, Helvetica, sans-serif;">
    <header style="height: 5em; background-color: #576872; display: flex; align-items: center; padding: 1em;">
        <img style="height: 80% ;" src="http://localhost:3000/image?filename=logo-left.svg"/>
    </header>
    <main style="width: 100%; display: flex; justify-content: center;">
        <div style="width: 80%; display: flex; justify-content: center; flex-wrap: wrap; ">
            <p style="width: 100%;">Estimado/a</p>
            <p style="width: 100%;">Le informamos que su emprendimiento ha sido puesto en estado INACTIVO. Como resultado, sus productos ya no estarán visibles en la web.</p>
            <p style="width: 100%;">Para obtener más información, por favor, póngase en contacto con el Administrador.</p>
            <p style="width: 100%;">Atentamente,</p>
            <div style="width: 100%; display: flex; justify-content: start; font-weight: bold; font-size: small;">
                <p>Equipo de EMPRENDE</p>
            </div>
        </div>
    </main>
    <footer Style="height: 1em; color: white; justify-content: center; background-color: #576872; display: flex; align-items: center; padding: 1em;">
        <p>© EMPRENDE</p>
    </footer>
</body>
</html>